@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: Kumbh Sans;
}

body {
  background: rgb(101,101,231);
  background: linear-gradient(0deg, rgba(101,101,231,1) 0%, rgba(175,103,233,1) 100%) no-repeat center center fixed;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.card {
  background: url(images/bg-pattern-desktop.svg), white;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: -530px -265px;
 

  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);


  width: 920px;
  height: 509px;
  /* overflow: hidden; */
  border-radius: 23px;
  -webkit-box-shadow: 0px 32px 27px -8px rgba(59,59,135,0.81); 
  box-shadow: 0px 32px 27px -8px rgba(59,59,135,0.81);
  /* margin-top: 1.5rem; */
}

.hero-img-mobile {
  display: none;
}



.img-section-center {
  overflow-x: hidden;
}

.container-img {
  display: block;
  margin-top: 4.7rem;
  margin-left: -4.5rem;
}

.container-img-2 {
  display: block;
  margin-left: -20.5%;
  margin-top: -48%;
}




.accordion-wrapper {
  width: 350px;
  margin-left: 1rem;
  margin-top: 4rem;
  /* margin-bottom: 2rem; */
}

.accordion-title {
  font-weight: 700;
  font-size: 2rem;
}

.accordion {
  color: #4B4C5F;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}
.accordion:hover {
  color: #F47B56;
}

.arrow {
  width: 12px;
  height: 8px;
  display: block;
}
.rotate{
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.up{
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.active  {
  font-weight: 700;
  color: #1E1F36;
}

.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-bottom: 1px solid #E8E8EA;;
}

.question {
  font-size: 0.875;
  line-height: 1.5;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
}
.answer {
  font-size: 13.5px;
  line-height: 1.5;
  color: #787887;
  font-weight: 300;
  padding-bottom: 1rem;
}

/* ATTRIBUTION */
.attribution { 
  font-size: 11px; 
  text-align: center; 
  color: white;
  margin-top: 1.5rem;
}
.attribution a {
   color: white;
   text-decoration: none;
}
.attribution a:hover {
  color: rgb(234, 209, 255);
}

/* MOBILE */
@media (max-width: 1008px) {
  .card {
    width: 327px;
    height: 535px;
    background: url(images/bg-pattern-mobile.svg), white;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 39.5px -6px;
  }
  .img-section {
    display: none;
  }

  .hero-img-mobile {
    display: block;
    position: absolute;
    width: 237px;
    margin-top: -6.75rem;
    margin-left: 2.8rem;
  }
  
  .accordion-title {
    margin-top: 3.5rem;
    text-align: center;
  }

  .accordion-wrapper {
    margin: 24px;
    margin-top: 4rem;
    width: 279px;
  }

  .accordion {
    font-weight: 300;
  }

  .question {
    font-size: 0.813rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .answer {
    font-size: 0.75rem;
    font-weight: 200;
  }
  
  .active {
    font-weight: 600;
  }
}